body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.logo{
    width: 80px;
    height: auto;
    padding-right: 20px;

}

.headertext{
    display: inline-block;
}

h2{
    margin: 5px 0;
    font-size: 24px;
}

h5, h6{
    margin: 2px 0;
    font-size: 12px;
}
h1{
    text-align: center;
    word-spacing: 10px;
}

.Regnum{
    display: flex;
    padding-left: 40px;
}

.no{
    color: #402432;
}

.table1 {
    text-align: left;
    width: 95%;
    margin: 20px;
    border: 1px solid black;
    font-weight: 600;
}
.tabtitle{
    background-color: #8A99AE;
    text-align: center;
}

.table2 {
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.code{
    width: 5%;
}

.section{
    width: 25%;
}

.unit{
    width: 15%;
}

.section{
    width: 10%;
}

.room{
    width: 20%;
}

.faculty{
    width: 20%;
}

.totalunits{
    text-align: right;
}

.note{
    text-align: left;
}

th{
    background-color: #8A99AE;
    border: 1px solid black;
}

.table3{
    text-align: center;
    width: 95%;
    margin: 20px;
    border: 1px solid black;
    font-weight: 600;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 180%;
    margin: 20px auto;
}

.rules{
    width: 80%;
    text-align: justify;
}

div.rules h6{
    text-align: center;
    font-size: 15px;
}

div.rules li{
    font-weight: 400;
}